body {
    margin: 0 auto;
    background-color: aqua;
    padding: 0;
    background-image: url("./images/waterBG.png");
}

#first {
    background-color: aqua;
    border-style: solid; 
    border-width: thick;
    border-radius: 10px;
    width: 700px; 
    height: 100px;
}

div {
    width: 700px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}