html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#article {
  position:absolute;
  top: 620px;
  width: 680px;
  border-style: solid;
  border-width: medium;
  border-radius: 1em;
  padding: 10px;
  margin: 0 auto;
  text-align: justify;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

h3, h4, p {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
