* {
    box-sizing: border-box;
  }
  .body {
    font-family:Verdana;
    color:#aaaaaa;
    background-image: url('./wallbg.png');
    max-width: 900px;
    margin: 0 auto;
    justify-items:center;
  }
  .header {
    padding:15px;
    text-align:center;
    margin-bottom:15px;
  }
  .header-img {
      width: 60%;
  }
  .img-container {
    overflow:auto;
    display:flex; 
    align-items: flex-start;
    flex-direction:row; 
    justify-content:center;
    height:80%;
}
  .img-column {
    display: inline-block;
    width: 30%;
    text-align: center;
  }
  .img-col-featured {
      order: 0;
  }
  .button {
      width: 70%;
  } 
  
  @media only screen and (max-width: 700px) {
    /* For mobile phones: */
    .header-img {
        width: 80%;
    }
    .img-column, .main, .right {
      width: 100%;
    }    
    .img-container {
      flex-direction:column;
      height:"50%";
    }
    .img-col-featured {
        order: -1;
    }
    .button {
        width: 40%;
    } 
  }