html,
body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

h1 {
  color: darkgreen;
}
.overlay {
  position: absolute;
  top: 100;
  padding: 2em;
}

.fontStyle1 {
  color: darkgreen;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.fontStyle2 {
  color: blueviolet;
  font-size: 3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.fontStyle3 {
  font-size: 5em;
  font-family: 'Times New Roman', Times, serif;
}
